body {
    color: #0B0014;
}

ul {
    list-style-type: circle;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, th, td, tr {
    border: 1px #773344 solid;
    padding: 1.875rem 0.9375rem; /* 30px 15px */
}

tbody th, tfoot th {
    font-weight: normal;
}

tr:nth-child(even), .highlight{
    background-color: #f6f8fa;
}

#store-locations {
    text-indent: -10000px;
}

h2, form {
    margin: 0.5rem; 
}

form {
    width: 400px;
    padding: 10px;
    border: 1px solid #773344;
    border-radius: 5px;
}

label, input[type="submit"] {
    margin: 0.5rem 0;
    display: block;
}

input[type="submit"] {
    padding: 0.3rem;
}

#warning {
    outline: none;
    border-color: #F55;
    box-shadow: 0 0 3.5px #f55;
}